:root {
  --neutral-800: hsl(254, 6%, 58%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  height: 4.375rem;
  padding-block: 1.375rem;
  padding-inline: 1.875rem;
  display: flex;

  box-shadow: 0 0.1875rem 0.4688rem rgba(0, 0, 0, 0.1);
}

.dot {
  height: 0.125rem;
  aspect-ratio: 1;
  background-color: var(--neutral-800);
  border-radius: 50%;
}

.hero {
  margin-top: 1.625rem;
  margin-bottom: 3rem;
  padding-inline: 2.25rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.9375rem;
}

.hero img {
  max-width: 25rem;
  align-self: center;
}

.hero__text {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.1;
}

.hero__text p {
  width: 20rem;
}

.hero__text h1 {
  margin-bottom: 1rem;

  font-size: 2.25rem;
  font-weight: 600;
}

.card {
  width: 11rem;
}

.card__image {
  position: relative;
}

.card__badge {
  width: 3.8125rem;
  height: 20px;
  position: absolute;
  top: 0.375rem;
  left: 0.375rem;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: white;
  border-radius: 0.125rem;
  font-size: 0.625rem;
}

.card__caption {
  display: flex;
  flex-direction: column;
  gap: 2px;
  
  font-size: 0.75rem;
}

.card__rating {
  display: flex;
  align-items: center;
  gap: 0.1875rem;

  font-weight: 300;
  color: var(--neutral-800);
}

.card__score {
  color: black;
}

.card__price {
  font-weight: 600;
}